<div>
  <h1>List of computers</h1>

  <select [(ngModel)]='computer' (change)='onChange()' name='computer'>
    <option *ngFor="let computer of computerList; let i = index" [value]="i">{{computer.name}}</option>
  </select>
</div>

<div>
  <div [hidden]='computerState == 1'>
    <form #form='ngForm' (ngSubmit)='onSubmit()' novalidate>

      <label for="password">Password: </label>
      <input name='password' #pass='ngModel' [(ngModel)]='password' type="password" required>

      <input type="submit" value="Submit" [disabled]='form.invalid'>
    </form>
  </div>

  <h2>{{stateTitle}}</h2>
</div>